  
  <nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-end">
    <div class="navbar-nav">
      <form class="form-inline">
        <input class="form-control border-0" name="query"  type="text" placeholder="Try &quot;Pixel Art&quot;">
        <button class="btn btn-success justify-content-center" type="submit">Search</button>
      </form>
      <a class="nav-item nav-link " href="/login ">Log in</a>
      <a class="nav-item nav-link text-info align-self-center " href="/signup">Sign up</a>
    </div>
  </nav>