 
 <div class="bw-nav">
  <nav class=" navbar navbar-expand navbar-dark bg-dark d-flex justify-content-end">
      <div class="navbar-nav">

          {{!-- <form action="/search" class="form-inline">
          
              <input
                  class="form-control border-0"
                  name="query"
                  type="text"
                  placeholder="Try &quot;Pixel Art&quot;"
              />
              <button
                  class="btn btn-success justify-content-center"
                  type="submit"
              >Search</button>
          </form> --}}

          <form action="/search" class="form-inline">
            <div class="input-group-prepend">
              <select class="custom-select border-0 bg-light" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option id="users" selected value="1">Users</option>
                <option id="tags" value="2">Tags</option>
              </select>

              <input
                  class="search form-control border-0"
                  name="query"
                  type="text"
                  placeholder="Try &quot;Pixel Art&quot;"
              />

              <div class="input-group-append">
                <button class="btn btn-success" type="submit">Search</button>
              </div>
            </div>
          </form>

          <div class="d-flex flex-row">
            <a class="nav-item nav-link" href="/login ">Log in</a>
            <a class="nav-item nav-link text-info align-self-center" href="/signup">Sign up</a>
          </div>
      </div>
  </nav>
</div>
