<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brushwrks</title>

  <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Josefin+Sans:ital,wght@1,300&family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://www.google.com/recaptcha/enterprise.js?render=6LfagZMbAAAAAI34w1kTMDyKUN32UfMEFmhjehIt"></script>
</head>

<body>


  <div class="sidebar-container bg-dark d-flex flex-column">
      <div class="sidebar-logo">
        <a class="fa fa-paint-brush text-decoration-none" href="index.html"></a>
        <a class="navbar-brand text-white" href="index.html">Brushwrks</a>
      </div>
      <ul class="sidebar-navigation p-0 m-0 position-relative">
        <li class="header">Navigation</li>
        <li>
          <a href="/">
            <i class="fa fa-home" aria-hidden="true"></i> Home
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-users" aria-hidden="true"></i> Following
          </a>
        </li>
        <li class="header">Manage</li>
        <li>
          <a href="/profile">
            <i class="fa fa-user-circle" aria-hidden="true"></i> Profile
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cog" aria-hidden="true"></i> Settings
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Information
          </a>
        </li>
      </ul>
      <p class="text-muted text-center position-fixed mb-1 ml-3">© 2021 A Team<br>
        <a href="https://github.com/brushwrks" class="fab fa-github text-decoration-none text-muted"></a>
      </p>
    </div>

    {{> navbar}}

  <!-- Featured -->
      {{{body}}}


  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>