<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brushwrks</title>

  <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Josefin+Sans:ital,wght@1,300&family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">

  {{!-- <link rel="stylesheet" href="/css/main.css"> --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="645610436832-j6gfn065fkkse2g9h8rhcip57vol8jne.apps.googleusercontent.com">
</head>

<body>


  <div class="sidebar-container bg-dark d-flex flex-column">
      <div class="sidebar-logo">
        <a class="fa fa-paint-brush text-decoration-none" href="index.html"></a>
        <a class="navbar-brand text-white" href="index.html">Brushwrks</a>
      </div>
      <ul class="sidebar-navigation p-0 m-0 position-relative">
        <li class="header">Navigation</li>
        <li>
          <a href="/">
            <i class="fa fa-home" aria-hidden="true"></i> Home
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-users" aria-hidden="true"></i> Following
          </a>
        </li>
        <li class="header">Manage</li>
        <li>
          <a href="/profile">
            <i class="fa fa-user-circle" aria-hidden="true"></i> Profile
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cog" aria-hidden="true"></i> Settings
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Information
          </a>
        </li>
      </ul>
      <p class="text-muted text-center position-fixed d-flex flex-column justify-content-center">© 2021 A Team<br>
        <a href="https://github.com/brushwrks" class="fab fa-github text-decoration-none text-muted"></a>
      </p>
    </div>

    {{> navbar}}

  <!-- Featured -->
      {{{body}}}


  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>