 <div class="content-container mb-5">
  
  <div class="container-fluid">


    <!-- ARTIST INFO -->
    <div class="row ml-1">
      <div class="profile-nav col-md-3 col-lg-3 border border-dark mb-5">
          <div class="panel">

            <!-- PROFILE PICTURE / NAME -->
              <div class="user-heading round mb-0 pb-0">
                <a href="#">
                  <img src="<!--profile pic-->" alt="">
                </a>
                <h1 class="text-info"><!--username--></h1>
              </div>

              <!-- LINKS / ADDITONAL INFO -->
              <div class="mt-0 text-center">

                <div class="d-flex flex-row justify-content-center mb-1">
                  <p class="mr-1">STATUS</p>
                  <p class="ml-1 mr-1">-</p>
                  <!--if open-->
                  <!--<p class="text-success ml-1"> OPEN </p>-->
                  <!--if closed-->
                  <!--<p class="text-danger ml-1"> CLOSED </p>-->
                </div>

                <!--Social links-->
                <!-- <a class="fab fa-twitter text-decoration-none fa-2x pr-3" href=""></a>
                <a class="fab fa-instagram text-decoration-none fa-2x pr-3" href=""></a>
                <a class="fab fa-patreon text-decoration-none fa-2x pr-3" href=""></a>
                <a class="fa fa-envelope text-decoration-none fa-2x pr-3" href=""></a>
                -->
                <hr>

                <p class="text-center mt-1">
                  <p><!--bio--></p>
                  
                  <br><hr>
                
                  
                  <p class="h5 text-info font-weight-bold pb-1 mb-0">Commission Info</p>
                  <hr>

                  <p>
                    <p class="text-warning pb-1 mb-0">Pricing</p> 
                    <strong><!--Commission type--> </strong>  $<!--Price--> <br>

                  </p><hr>

                  <p>
                    <p class="text-warning pb-1 mb-0">Revisions</p>
                    <!--number--> <i><!--type or none--></i> revisions
                  </p><hr>

                  <p>
                    <p class="text-warning pb-1 mb-0">Turnaround</p>
                    <!--number--> <!--days/weeks/mo-->
                  </p><hr>

                  <p>
                    <p class="text-info pb-1 mb-0">Terms of Service</p>
                      <p> <!--Commission Terms--></p>
                  </p><hr>

                  <p class="text-info font-italic font-weight-bold pb-1 mb-0">Tools</p> 
                  <p class="pt-0 mt-0">
                    <!--Tools--></p>
                  


                </p>

              </div>
              
              
          </div>
          
      </div>
      <div class="col-lg-9">
        <div class="card-columns">
          <!--Repeat for number of images-->
          <div class="card">
              <img class="card-img" src="<!--IMG url-->" alt="Card image">
          </div>
      </div>