  <div class="jumbotron jumbotron-fluid text-center d-flex flex-column justify-content-center align-items-center hero-background-img mb-5">
      <h1 class="display-4">BRUSHWRKS</h1>
      <p class="lead">Freelance Art Made Easy</p>
      <form class="form-inline">
        <input class="form-control border-0" name="query"  type="text" placeholder="Try &quot;Pixel Art&quot;">
        <button class="btn btn-success justify-content-center" type="submit">Search</button>
      </form>
     </div>