  <nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-end">
    <div class="navbar-nav">
      <a class="nav-item nav-link disabled" href=" ">Log in</a>
      <a class="nav-item nav-link text-info align-self-center " href="register.html">Sign up</a>
    </div>
  </nav>