<div class="sidebar-container bg-dark d-flex flex-column">
      <div class="sidebar-logo">
        <a class="fa fa-paint-brush text-decoration-none" href="index.html"></a>
        <a class="navbar-brand text-white" href="index.html">Brushwrks</a>
      </div>
      <ul class="sidebar-navigation p-0 m-0 position-relative">
        <li class="header">Navigation</li>
        <li>
          <a href="index.html">
            <i class="fa fa-home" aria-hidden="true"></i> Home
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-users" aria-hidden="true"></i> Following
          </a>
        </li>
        <li class="header">Manage</li>
        <li>
          <a href="">
            <i class="fa fa-user-circle" aria-hidden="true"></i> Profile
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cog" aria-hidden="true"></i> Settings
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Information
          </a>
        </li>
      </ul>
      <p class="text-muted text-center position-fixed mb-1 ml-3">© 2021 Anneka Curry<br>
        <a href="https://github.com/nekacurry" class="fab fa-github text-decoration-none text-muted"></a>
      </p>
    </div>